<!DOCTYPE html>
<html lang="en">
<head>
    <title>MS Teams Bot Sample App</title>
    <base href="@(Url.Content("~"))" />
</head>
    
<body>
    <div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
